html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* Nav bar */
.header-logo {
  width: 3%;
  height: auto;
  filter: brightness(3);
}

.header-logo-text {
  margin-left: 7px;
  font-family: Raleway;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
}

.header-welcome-text {
  font-size: 18px;
  font-weight: 400;
}

/* Footer */
.footer-logo-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .sparrow-text {
    color: #43a047;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .credits-text {
    max-width: 120px;
    margin-left: 7px;
    color: #282828;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-size: small;
  }
}

/* Home page */
.homepage {
  display: flex;
  height: 100%;
  width: 100%;

  .homepage-content {
    margin-left: 5%;
    margin-top: 5%;

    .title-text {
      font-family: Raleway;
      font-weight: 600;
      color: #282828;
      font-size: 250%;
      text-align: center;
    }

    .subtitle-text {
      font-family: Raleway;
      font-weight: 400;
      color: #282828;
      font-size: 120%;
      text-align: center;
    }

    .homepage-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .homepage-image {
    display: flex;
    justify-content: center;
    align-items: center;

    .laptop-home {
      width: 70%;
      height: auto;
      margin-left: 75px;
    }
  }
}

/* Contact page */
.contact-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .gmaps-location {
    width: 100%;
    height: 30%;
  }

  .contact-page-content {
    display: flex;
    flex-direction: row;

    .title-text {
      font-family: Raleway;
      font-weight: bolder;
      color: #282828;
      font-size: 120%;
    }

    .info-card {
      width: 40%;
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 2%;
      margin-bottom: 5%;

      .content-text {
        font-family: Raleway;
        font-weight: 500;
        color: #313131;
      }

      .links {
        font-family: Raleway;
        font-weight: 500;
        color: #43a047;
      }
    }

    .contact-form {
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 2%;
      margin-bottom: 5%;
      text-align: center;

      .form-content {
        display: inline-block;
      }
    }
  }
}

/* Home page */
.login-redirect {
  .redirect-image {
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      margin-top: 3%;
      width: 20%;
      height: auto;
    }
  }

  .redirect-content {
    display: flex;
    flex-direction: column;
    text-align: center;

    .title-text {
      font-family: Raleway;
      font-weight: bolder;
      color: #282828;
      font-size: 250%;
    }

    .subtitle-text {
      font-family: Raleway;
      font-weight: 400;
      color: #282828;
      font-size: 120%;
      margin-top: -0.5%;
    }

    .redirect-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* Expenses page */
.expenses-page {
  height: 100%;
  width: 100%;

  .expenses-card {
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 4%;
  }
}

.expense-table-toolbar {
  background-color: "#e2e2e2";
}

/* Incomes page */
.incomes-page {
  height: 100%;
  width: 100%;

  .incomes-card {
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 4%;
  }
}

.incomes-table-toolbar {
  background-color: "#e2e2e2";
}

/* Accounts page */
.accounts-page {
  height: 100%;
  width: 100%;
  .accounts-card {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .accounts-info-card {
    text-align: left;
  }
}

/* Dashboard page */
.dashboard-page {
  height: 100%;
  width: 100%;
}

/* Settings page */
.settings-page {
  height: 100%;
  width: 100%;
  .settings-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  .categories-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }
}
